variable

In [571]:
age = 28

In [572]:
age

28

In [573]:
name="Amrutha"

In [574]:
name

'Amrutha'

In [575]:
price=18.98

In [576]:
price

18.98

In [577]:
is_active=True
is_active

True

In [578]:
x=10
print(x)

10

In [579]:
a=10
b=10
c=a+b
print(c)

20

In [580]:
firstname="Amrutha"
lastname="thalla"
fullname=firstname+" "+lastname
print(fullname)

Amrutha thalla

In [581]:
length=10
width=10
area=length*width
area

100

In [582]:
print(3 ** 2)

9

variables practise

In [583]:
first_name = 'Amrutha'
last_name = 'Thalla'
country = 'HYD'
city = 'TELENGANA'
age = 40000
is_married = True
skills = ['HTML', 'CSS', 'JS', 'React', 'Python']
person_info = {
    'firstname':'Tanya', 
    'lastname':'Reddy', 
    'country':'USA',
    'city':'chicago'
    }

print('First name:', first_name)
print('First name length:',len(first_name))
print('Last name: ', last_name)
print('Last name length: ',len(last_name))
print('Country: ', country)
print('City: ', city)
print('Age: ', age)
print('Married: ', is_married)
print('Skills: ', skills)
print('Person information: ', person_info)

First name: Amrutha
First name length: 7
Last name:  Thalla
Last name length:  6
Country:  HYD
City:  TELENGANA
Age:  40000
Married:  True
Skills:  ['HTML', 'CSS', 'JS', 'React', 'Python']
Person information:  {'firstname': 'Tanya', 'lastname': 'Reddy', 'country': 'USA', 'city': 'chicago'}

In [584]:
first_name, last_name, country, age, is_married = 'amrutha', 'thalla', 'india', 28, True

print(first_name, last_name, country, age, is_married)
print('First name:', first_name)
print('Last name: ', last_name)
print('Country: ', country)
print('Age: ', age)
print('Married: ', is_married)

amrutha thalla india 28 True
First name: amrutha
Last name:  thalla
Country:  india
Age:  28
Married:  True

strings practice

In [585]:
letter='A'
print(letter)
greeting='hello everyone'
print(greeting)
print(len(greeting))
multiline_string = '''I am a teacher and enjoy teaching.
I didn't find anything as rewarding as empowering people.
That is why I created 30 days of python.'''
print(multiline_string)

A
hello everyone
14
I am a teacher and enjoy teaching.
I didn't find anything as rewarding as empowering people.
That is why I created 30 days of python.

In [586]:
first_name = 'Amrutha'
last_name = 'Thalla'
space = ' '
full_name = first_name  +  space + last_name
print(full_name) 
print(len(first_name)) 
print(len(last_name))   
print(len(first_name) > len(last_name)) 
print(len(full_name))

Amrutha Thalla
7
6
True
14

In [587]:
language = 'DataScience'
a,b,c,d,e,f,g,h,i,j,k = language 
print(a) 
print(b) 
print(c)  
print(d) 
print(e) 
print(f)
print(g)
print(h)
print(i)
print(j)
print(k)

D
a
t
a
S
c
i
e
n
c
e

In [588]:
language = 'DataScience'
last_letter = language[-3:]
print(last_letter)
pto = language[0:8:2] 
print(pto)

nce
DtSi

In [589]:
print('I hope every one enjoying the python challenge.\nDo you ?') # line break
print('Days\tTopics\tExercises')
print('Day 1\t3\t5')
print('Day 2\t3\t5')
print('Day 3\t3\t5')
print('Day 4\t3\t5')
print('This is a back slash  symbol (\\)') 
print('In every programming language it starts with \"Hello, World!\"')

I hope every one enjoying the python challenge.
Do you ?
Days	Topics	Exercises
Day 1	3	5
Day 2	3	5
Day 3	3	5
Day 4	3	5
This is a back slash  symbol (\)
In every programming language it starts with "Hello, World!"

In [590]:
challenge = 'training of python'
print(challenge.capitalize())

Training of python

In [591]:
challenge = 'training of python'
print(challenge.count('y')) # 3
print(challenge.count('y', 7, 14)) # 1
print(challenge.count('th')) # 2`

1
1
1

string indexing

In [592]:
str="hello python"
str

'hello python'

In [593]:
str[0]

'h'

In [594]:
str[-1]

'n'

string slicing

In [595]:
str

'hello python'

In [596]:
str[0:5]

'hello'

In [597]:
str[::2]

'hlopto'

In [598]:
str[6:12]

'python'

In [599]:
str[1:12:2]

'el yhn'

In [600]:
str[::-2]

'nhy le'

In [601]:
str[::-1]

'nohtyp olleh'